# Python bytecode (Các file rác bạn đang thấy)
**/__pycache__/
*.pyc

# Môi trường ảo (nếu có)
venv/
env/

# Environment secrets
.env
.env.local
.env.*.local

# Database cục bộ
*.sqlite3

# Thư mục media/static upload (tùy dự án)
media/